{
    "rules": {
        "no-console": 1
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
    },
    "extends": [
        "standard"
    ]
}
